{% extends 'base.html.twig' %}

{% block body %}

    <h1>Welcome!</h1>

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% else %}
        <a href="{{ path('app_login') }}">Login</a>
    {% endif %}

{% endblock %}
